*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}

li
{
    text-decoration: none;
    list-style: none;
}
.no-indent
 {
     margin: 0 !important;
     padding: 0 !important;
 }

/*------------------- Новые настройки-------------------*/

/* Вертикальное меню*/
.menu_vert
{
    border: 2px solid #020000;
    background: #fff;    
    font-size: 14px;    
    min-width: 80px;    
    -webkit-font-smoothing: antialiased;
}
/* ------- LI--------*/
.menu_vert li
{
    padding: 9px 0 0 0;    
    text-align: center;     
}

.menu_vert li:hover .icon_report .icon_settings
{
    top: 10px;
    color: black;
    opacity: 0.9;
}

.menu_vert li:hover a
{    
    color: black;
}

/*--------A---------*/
.menu_vert a
{
    color: #999;       
}

.menu_vert a .icon_active
{
    color: black;      
}

.menu_vert a:hover
{    
    text-decoration: none;
}

/*----Кнопки-----*/
.menu_vert a .icon_report .icon_settings
{     
    position: relative;
    opacity: 0.3;    
}



/* ------------ Нужный пример---------------------*/
/*.menu_vert a .icon_report::before
{
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    font-size: 33px;
    content: "\f080";      
}

.menu_vert a .icon_settings::before
{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 33px;    
    content: "\f080";      
}
*/